.form {
  align-content: center;
  border: solid 1px;
  display: flex;
  flex-direction: column;
  padding: 4rem;
  width: auto;
}

.form label {
  font-size: 1.3em;
  font-weight: 300;
  padding: 0.5em 0 0.5em 0;
  width: auto;
}

.inputClass {
  border: solid 1px #979797;
  border-radius: 0.8em 0 0.5em 0;
  height: 2em;
  padding: 0.5em;
  width: auto;
}

.form-full-width {
  display: flex;
  flex-direction: column;
  height: 4.5rem;
  width: auto;
}

.button_container {
  align-items: center;
  display: flex;
  margin-top: 1rem;
}

.submit {
  width: 22%;
}
