<form (ngSubmit)="submit()" class="form">
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="notary.name" name="name" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="notary.email" type="email" name="email" placeholder="Ex. pat@example.com" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Phone</mat-label>
    <input matInput name="phone" [(ngModel)]="notary.phone" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Street</mat-label>
    <input matInput name="street" [(ngModel)]="notary.street" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>City</mat-label>
    <input matInput name="city" [(ngModel)]="notary.city" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Country</mat-label>
    <input matInput name="country" [(ngModel)]="notary.country" />
  </mat-form-field>
  <button	mat-flat-button color="primary" (click)="openDialog()">dialog</button>
</form>
