<form class="form">
  <div class="form-full-width">
    <label>Name</label>
    <input [formControl]="nameFormControl" />
  </div>
  <div class="form-full-width">
    <label>Email</label>
    <input
      type="email"
      [formControl]="emailFormControl"
      placeholder="Ex. pat@example.com"
    />
  </div>
  <div class="form-full-width">
    <label>Phone</label>
    <input />
  </div>
  <div class="form-full-width">
    <label>Street</label>
    <input />
  </div>
  <div class="form-full-width">
    <label>City</label>
    <input />
  </div>
  <div class="form-full-width">
    <label>Country</label>
    <input />
  </div>
  <div class="form-full-width">
    <label>Certificates</label>
    <select>
      <option>Select here...</option>
    </select>
  </div>
</form>
