<form (ngSubmit)="submit()" class="form">
  <div class="form-full-width">
    <label>Name</label>
    <input [(ngModel)]="notary.name" name="name" />
  </div>
  <div class="form-full-width">
    <label>Email</label>
    <input
      [(ngModel)]="notary.email"
      type="email"
      name="email"
      placeholder="Ex. pat@example.com"
    />
  </div>
  <div class="form-full-width">
    <label>Phone</label>
    <input name="phone" [(ngModel)]="notary.phone" />
  </div>
  <div class="form-full-width">
    <label>Street</label>
    <input name="street" [(ngModel)]="notary.street" />
  </div>
  <div class="form-full-width">
    <label>City</label>
    <input name="city" [(ngModel)]="notary.city" />
  </div>
  <div class="form-full-width">
    <label>Country</label>
    <input name="country" [(ngModel)]="notary.country" />
  </div>
  <app-list-table></app-list-table>
  <div class="button_container">
    <button class="submit" type="submit">Submit</button>
  </div>
</form>
