.container--component {
  border: 1px solid rgb(224 224 224);
  padding: 1em;
}

.control--table--container {
  display: flex;
}

.mat-column-select {
  overflow: initial;
  width: 1em;
  border-right: 1px solid rgb(224 224 224);
}

.table--container {
  border: 1px solid rgb(224 224 224);
}

.mat-header-row {
  height: 2em;
  padding: 1em;
}

.mat-header-cell {
  padding: 1em;
}

.text--column--header {
  color: black;
  font-weight: bold;
  font-size: 14px;
  justify-content: center;
}

table {
  width: 100%;
}
.mat-cell {
  padding: 1em;
}
.mat-column-id {
  width: 2em;
  border-right: 1px solid rgb(224 224 224);
}

.mat-column-name {
  padding-left: 1em;
}
