.cetificates_container {
  align-items: baseline ;
  border: 1px solid rgb(135, 139, 141);
  display: flex;
  justify-content: space-between;
  padding: 0 0.2em 0.2em 0.3em;
  margin-top: 0.5rem;
  width: 30%;
}

.cetificates_container__label {
  margin: 0.6rem 0;
}

.add_button {
  margin-right: 0.4em;
}

.selector_container {
  display: flex;
  height: auto;
  margin: 0 0.5em 0 0;
  width: auto;
}